<ion-tabs>
  <ion-router-outlet></ion-router-outlet>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="trips" href="/tabs/trips">
      <ion-icon name="home"></ion-icon>
      <ion-label>Viagens</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon name="compass"></ion-icon>
      <ion-label>Descobrir</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="settings" href="/tabs/settings">
      <ion-icon name="person"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
